@charset "utf-8";
*{margin: 0; padding: 0;}
img, video, iframe{
    vertical-align: middle;
}
ol, ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #363636;
}
img, video{
    max-width: 100%;
}
/*font-family: 'Sorts Mill Goudy', serif;
font-family: 'Spoqa Han Sans Neo';*/
body{
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #363636;
}



/*header*/


header{
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 10;
    width: 100%;
    margin: 0 auto;
}
.header_inner{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1{
    width: 74%;
}
header h1 img{
    width: 175px;
}
#gnb{
    width: 26%;
    display: flex;
    justify-content: space-between;
}
#gnb>li{
    font-size: 20px;
}
#gnb>li>a{
    color: #fff;
}
.gnb_menu{
    display: none;
}
.slide{
    display: none;
}


/*main*/


#main{
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.word{
    position: absolute;
    top: 50%;
    left: 18%;
    transform: translateY(-50%);
    z-index: 98;
    color: #fff;
    text-shadow: 0 0 5px rgba(0,0,0,0.2);
}
.word p{
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 30px;
    letter-spacing: -2px;
}
.word h1{
    font-size: 60px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: -6px;
}
@keyframes typing{
    0% {
    opacity: 0;
    filter: Alpha(opacity=0);
    margin-right: 15px;
    }
100% {
    opacity: 1.0;
    filter: Alpha(opacity=100);
    margin-right: 0;
    }
}
#main .swiper-slide-active .word_{
    animation: typing 1.5s cubic-bezier(0.4, 0, 0.2, 1) both;
}
#main .bg1{
    background: url(../img/cafe_main.png) no-repeat center center;
    width: 100%;
    height: 100vh;
}
#main .bg2{
    background: url(../img/cafe_main1.png) no-repeat center center;
    width: 100%;
    height: 100vh;
}
#main .bg3{
    background: url(../img/cafe_main2.png) no-repeat center center;
    width: 100%;
    height: 100vh;
}
.main_next::after{
    content: url(../img/cafe_next.png);
}
.main_prev::after{
    content: url(../img/cafe_prev.png);
}
.main_next{
    top: var(--swiper-navigation-top-offset,88.5%);
    left: 13.5%;
    width: 80px;
    height: 80px;
}
.main_prev{
    top: var(--swiper-navigation-top-offset,88.5%);
    left: 10%;
    width: 80px;
    height: 80px;
}
.main_pag{
    background: rgba(255,255,255,0.5);
}
#main .swiper-horizontal>.swiper-pagination-progressbar, #main .swiper-pagination-progressbar.swiper-pagination-horizontal{
    width: 64.7%;
    height: var(--swiper-pagination-progressbar-size,2px);
    left: 50%;
    top: var(--swiper-navigation-top-offset,90%);
    transform: translateX(-50%);
}
#main  .swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
    background-color: #fff;
}


/*brand*/



#container{
    position: relative;
    width: 100%;
    overflow-x: hidden;
}
#brand{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 150px 0 300px;
    position: relative;
    z-index: 9;
}
.brand_in{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.brand_img{
    width: 55%;
    display: flex;
    justify-content: space-between;
    color: #fff;
}
.brand_img img{
    width: 100%;
}
.brand_img .img1{
    width: 45%;
}
.brand_img .img2{
    width: 45%;
    margin-top: 200px;
}
.brand_box, .brand_box1{
    max-width: 400px;
    border-radius: 10px;
    display: flex;
    justify-content: end;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
}
.brand_box{
    margin-bottom: 50px;
}
.brand_box_text{
    position: absolute;
    bottom: 10%;
    left: 15%;
}
.brand_img p{
    font-weight: 500;
    padding-bottom: 10px;
}
.brand_img h2{
    font-size: 35px;
    font-weight: 700;
    line-height: 45px;
}
.brand_text{
    padding: 200px 0;
    width: 38%;
}
.brand_text h2{
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
}
.brand_text h1{
    font-size: 55px;
    line-height: 70px;
    font-weight: 700;
    padding-bottom: 50px;
}
.brand_text p{
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    padding-bottom: 50px;
}
.brand_text a img{
    padding-right: 20px;
}
.brand_text a{
    transition: all 0.5s;
}
.brand_text a:hover{
    color: #1C3059;
    font-weight: 700;
    transition: all 0.5s;
}
.brand_slide{
    display: none;
    width: 100%;
}


/*coffee*/


#coffee{
    width: 100%;
    margin: 0 auto;
    height: 2479px;
    background: url(../img/coffee_background.png) no-repeat center center;
    position: absolute;
    top: 920px;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.coffee_in{
    text-align: center;
    color: #fff;
}
.coffee_in h1{
    font-size: 60px;
    font-weight: 700;
    line-height: 75px;
    padding-bottom: 50px;
}
.coffee_in p{
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
}


/*partner*/


#partner{
    width: 100%;
    margin: 0 auto;
    margin-top: 450px;
    background: url(../img/wholesale.png) no-repeat center top;
    position: relative;
    padding-top: 800px;
}
.partner_in{
    width: 1320px;
    margin: 0 auto;
    padding: 200px 0 420px;
}
.partner_in>h1{
    text-align: right;
    font-size: 60px;
    font-weight: 700;
    line-height: 75px;
    padding-bottom: 120px;
    color: #fff;
}
.wholesale{
    width: 100%;
    background-color: #1C3059;
    border-radius: 0 40px 0 40px;
    height: 535px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.partner_img{
    position: absolute;
    top: -8%;
    left: -3.5%;
}
.partner_img img{
    border-radius: 0 40px 0 40px;
    min-width: 550px;
}
.wholesale_text{
    text-align: center;
    padding-right: 9%;
    color: #fff;
    box-sizing: border-box;
}
.wholesale_text h2{
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 50px;
}
.wholesale_text table{
    text-align: left;
    padding-bottom: 20px;
}
.wholesale_text table tr{
    padding: 10px;
}
.wholesale_text table th, .wholesale_text table td{
    padding: 5px 20px;
}
.wholesale_text table .big{
    font-weight: 500;
    font-size: 18px;
}
.wholesale_text table th{
    vertical-align: top;
    font-size: 18px;
}
.wholesale_text a{
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    display: inline-block;
    background-color: #556991;
    padding: 12px 150px;
    margin: 10px 0;
}



/*tab_menu*/


#tab{
    padding: 10px 0;
    width: 100%;
    overflow: hidden;
    margin-bottom: 200px;
}
#tab_menu{
    width: 80%;
    margin: 0 auto;
}
#tab_menu>h1{
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 100px;
}
.slick-track{
    margin-left: 0;
    width: 100%;
}
.slick-initialized .swipe-tab-content {
    position: relative;
    min-height: 365px;
    margin-right: 200px;
}
.slick-initialized .swipe-tab {
    align-items: center;
    height: 35px;
    border: 0;
    cursor: pointer;
    text-align: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    transition: all 0.5s;
    width: 25%;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}
.slick-initialized .swipe-tab:hover {
    color: #1C3059;
}
.slick-initialized .swipe-tab.active-tab {
    border-bottom-color: #1C3059;
    color: #1C3059;
    font-weight: bold;
}
.main-container {
    width: 80%;
    margin: 50px auto;
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
    display: none;
}
.tab_menu_img{
    position: relative;
    min-width: 800px;
}
.tab_menu_img img{
    min-width: 800px;
}
.menu_btn{
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    background-color: #fff;
    padding: 10px 40px;
    border-radius: 50px;
    transition: all 0.5s;
}
.menu_btn:hover{
    color: #fff;
    background-color: #1C3059;
    transition: all 0.5s;
}
.swipe-tab-content h1{
    padding: 20px 0 30px;
    font-size: 55px;
    font-weight: 700;
    line-height: 70px;
}
.swipe-tab-content p{
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
}


/*healing*/


#healing{
    width: 100%;
    background: url(../img/btn_background.png) no-repeat 40% center;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 400px;
}
.healing_in{
    width: 1320px;
    margin: 0 auto;
    color: #fff;
}
.healing_in h1{
    font-size: 35px;
    font-weight: 700;
    line-height: 45px;
    padding-bottom: 30px;
    text-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.healing_in p{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}
.healing_in a{
    margin-top: 50px;
    display: inline-block;
    padding: 15px 30px;
    background-color: #fff;
    border-radius: 15px;
    font-size: 18px;
    margin-right: 20px;
    transition: all 0.5s;
}
.healing_in a:hover{
    background-color: #1C3059;
    color: #fff;
    transition: all 0.5s;
    transform: translateY(5px);
}
.healing_in a img{
    padding-left: 20px;
}


/*footer*/


#footer_{
    width: 100%;
}
#footer{
    width: 100%;
    margin: 0 auto;
    background: url(../img/footer_background.png) no-repeat center bottom;
    height: 928px;
    position: relative;
    color: #fff;
}
#footer a{
    color: #fff;
}
.footer_inner{
    width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
}
.footer_inner h1{
    width: 165px;
}
.footer_inner .footer_box{
    display: flex;
}
.footer_inner .footer_box ul{
    padding-left: 100px;
}
.footer_inner .footer_box ul li{
    padding-bottom: 20px;
}
.footer_inner .footer_box ul li a{
    font-size: 18px;
    font-weight: 500;
}
.footer_inner .footer_box .footer_sns li a{
    display: flex;
    align-items: flex-start;
}
.footer_inner .footer_box .footer_sns li img{
    padding-left: 5px;
}
.footer_typing, .footer_typing_{
    font-size: 30px;
    font-weight: 500;
    width: 483px;
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translateX(-50%);
    line-height: 40px;
}
.footer_typing{
    z-index: 10;
}
.footer_typing_{
    color: #848484;
}
p.typing-txt{
    display: none;
}
/*커서가 깜빡거리는 효과부분 시작*/
.typing {  
	/*position: absolute;*/ 
	display: inline-block;
}
#ticket{
    width: 1320px;
    margin: 0 auto;
    background-color: #1C3059;
    display: flex;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}
.ticket_1, .ticket_2{
    width: 50%;
}
.ticket_1 a, .ticket_2 a{
    display: block;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 50px 30px;
    align-items: center;
    transition: all 0.5s;
}
.ticket_1 a:hover{
    background-color: #556991;
    transition: all 0.5s;
}
.ticket_2 a:hover{
    background-color: #556991;
    transition: all 0.5s;
}
#ticket h3{
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 20px;
}
#ticket p{
    font-size: 18px;
    line-height: 28px;
}
.inner1{
    padding-left: 30px;
}
.inner2{
    background-color: #fff;
    border-radius: 30px;
    width: 130px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#ticket .line{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1px;
    height: 190px;
    background-color: #fff;
}







/*태블릿부분*/
@media (min-width:600px) and (max-width:1340px){
    /*header*/


    header h1{
        width: 67%;
    }
    #gnb{
        width: 33%;
    }


    /*main*/


    .word p{
        font-size: 18px;
        font-weight: 700;
        padding-bottom: 30px;
        letter-spacing: -2px;
    }
    .word h1{
        font-size: 50px;
        font-weight: 700;
        line-height: 70px;
        letter-spacing: -6px;
    }
    
    .main_next{
        left: 14.7%;
        width: 65px;
        height: 65px;
    }
    .main_prev{
        width: 65px;
        height: 65px;
    }
    #main .swiper-horizontal>.swiper-pagination-progressbar, #main .swiper-pagination-progressbar.swiper-pagination-horizontal{
        width: 59.7%;
    }


    /*brand*/


    .brand_in{
        flex-wrap: wrap;
        width: 100%;
    }
    .brand_img{
        order: 2;
        width: 100%;
        display: none;
    }
    .brand_text{
        width: 100%;
        padding-bottom: 50px;
        padding-left: 5%;
    }
    .brand_slide{
        display: block;
    }
    .brand_slide_text{
        position: absolute;
        bottom: 10%;
        left: 15%;
        color: #fff;
    }
    .brand_slide_text p{
        font-weight: 500;
        padding-bottom: 10px;
    }
    .brand_slide_text h2{
        font-size: 35px;
        font-weight: 700;
        line-height: 45px;
    }
    .brand_slide .swiper-slide{
        margin-left: 5%;
        width: 100%;
    }


    /*coffee*/
    #coffee{
        top: 700px;
    }


    /*partner*/


    .partner_in{
        width: 100%;
    }
    .wholesale_text{
        padding-right: 5%;
    }


    /*tab_menu*/


    #tab_menu{
        width: 90%;
    }
    .slick-initialized .swipe-tab-content {
        position: relative;
        min-height: 365px;
        margin-right: 150px;
    }
    .slick-initialized .swipe-tab-content{
        min-width: 700px;
    }
    .slick-initialized .swipe-tab{
        font-size: 18px;
    }
    .tab_menu_img{
        min-width: 700px;
    }
    .tab_menu_img img{
        min-width: 700px;
    }


    /*healing*/


    .healing_in{
        width: 95%;
    }
    .healing_in h1{
        font-size: 30px;
        line-height: 40px;
    }


    /*footer*/
    

    .footer_inner{
        width: 85%;
    }
    .footer_inner .footer_box .footer_sns{
        padding-right: 20px;
    }
    #ticket{
        width: 100%;
    }
    .inner1{
        padding-left: 0;
    }
    .inner2{
        background-color: #fff;
        border-radius: 30px;
        width: 120px;
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .inner2 img{
        width: 75%;
    }
}


/*사이즈 1200px*/
@media (max-width:1199px){
    #partner{
        position: relative;
        padding-top: 800px;
    }
    .partner_in{
        width: 65%;
        padding: 200px 0 220px;
    }
    .partner_in>h1{
        font-size: 55px;
        line-height: 70px;
    }
    .wholesale{
        height: 900px;
        align-items: flex-end;
        justify-content: center;
    }
    .partner_img img{
        border-radius: 40px 0 40px 0;
    }
    .wholesale_text {
        padding-right: 0;
        margin: 0 auto;
        padding-bottom: 35px;
    }


    /*tab_menu*/


    .slick-initialized .swipe-tab-content{
        margin-right: 100px;
    }
    .slick-initialized .swipe-tab-content{
        min-width: 500px;
    }
    .slick-initialized .swipe-tab{
        font-size: 18px;
    }
    .tab_menu_img{
        min-width: 500px;
    }
    .tab_menu_img img{
        min-width: 500px;
    }
}
/*사이즈 850px*/
@media (max-width:849px){

    /*header*/


    header h1{
        width: 60%;
    }
    #gnb{
        width: 40%;
    }
    #gnb li{
        font-size: 18px;
    }

    /*main*/


    .word p{
        font-size: 16px;
        padding-bottom: 10px;
        letter-spacing: -1px;
    }
    .word h1{
        font-size: 35px;
        line-height: 50px;
        letter-spacing: -4px;
    }
    .main_next{
        left: 15.5%;
        width: 45px;
        height: 45px;
    }
    .main_prev{
        width: 45px;
        height: 45px;
        left: 9%;
    }
    #main .swiper-horizontal>.swiper-pagination-progressbar, #main.swiper-pagination-progressbar.swiper-pagination-horizontal{
        width: 54.5%;
        top: var(--swiper-navigation-top-offset,87.5%);
    }


    /*brand*/


    .brand_in{
        flex-wrap: wrap;
        width: 100%;
    }
    .brand_img{
        order: 2;
        width: 100%;
        display: none;
    }
    .brand_text{
        width: 100%;
        padding: 0 0 50px;
        padding-left: 5%;
    }
    .brand_text h2{
        font-size: 35px;
        font-weight: 700;
        line-height: 45px;
    }
    .brand_text h1{
        font-size: 50px;
        line-height: 65px;
        font-weight: 700;
        padding-bottom: 50px;
    }
    .brand_text p{
        font-size: 18px;
        line-height: 28px;
        font-weight: 500;
        padding-bottom: 50px;
    }
    .brand_slide{
        display: block;
    }
    .brand_slide_text{
        position: absolute;
        bottom: 10%;
        left: 15%;
        color: #fff;
    }
    .brand_slide_text p{
        font-weight: 500;
        padding-bottom: 10px;
    }
    .brand_slide_text h2{
        font-size: 35px;
        font-weight: 700;
        line-height: 45px;
    }
    .brand_slide .swiper-slide{
        margin-left: 5%;
        width: 100%;
    }


    /*coffee*/


    .coffee_in h1{
        font-size: 40px;
        font-weight: 700;
        line-height: 55px;
        padding-bottom: 50px;
    }
    .coffee_in p{
        font-size: 18px;
        line-height: 28px;
        font-weight: 500;
    }


    /*wholesale*/


    .partner_in{
        width: 80%;
    }
    .wholesale{
        height: 850px;
        align-items: flex-end;
        justify-content: center;
    }
    .partner_in>h1{
        font-size: 45px;
        line-height: 60px;
    }
    .partner_img img{
        border-radius: 40px 0 40px 0;
        min-width: 450px;
    }
    .wholesale_text {
        padding-right: 0;
        margin: 0 auto;
        padding-bottom: 35px;
    }
    .wholesale_text a{
        padding: 12px 100px;
    }


    /*tab_menu*/


    #tab{
        padding: 10px 0;
        width: 100%;
        overflow: hidden;
        margin-bottom: 100px;
    }
    .slick-initialized .swipe-tab-content{
        min-width: 350px;
    }
    .tab_menu_img{
        min-width: 400px;
    }
    .tab_menu_img img{
        min-width: 400px;
    }
    .slick-initialized .swipe-tab-content{
        margin-right: 80px;
    }
    .slick-initialized .swipe-tab{
        font-size: 18px;
    }
    .menu_btn{
        font-size: 16px;
    }
    .swipe-tab-content h1{
        font-size: 45px;
        line-height: 60px;
    }
    /*@media screen and (min-width: 767px) {
    .slick-initialized .swipe-tab-content {
      min-height: 500px;
    }
    }*/


    /*footer*/


    .footer_inner{
        width: 90%;
    }
    .footer_inner .footer_box ul{
        padding-left: 35px;
    }
    .footer_inner .footer_box .footer_sns{
        padding-right: 20px;
    }
    .footer_typing, .footer_typing_{
        top: 45%;
    }
    #ticket{
        width: 100%;
        flex-wrap: wrap;
    }
    .ticket_1, .ticket_2{
        width: 100%;
    }
    .ticket_1 a, .ticket_2 a{
        padding: 30px;
    }
    .inner1{
        padding-left: 0;
    }
    .inner2{
        width: 120px;
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .inner2 img{
        width: 75%;
    }
    #ticket .line{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 95%;
        height: 1px;
        background-color: #fff;
    }
}




/*모바일부분*/
@media (max-width:599px){


    /*header*/


    header h1 img{
        width: 140px;
    }
    #gnb{
        display: none;
        position: absolute;
        top: 50px;
        left: 0;
        bottom: 0;
        width: 200px;
        margin: 0;
        z-index: 10;
    }
    .gnb_menu{
        display: block;
        position:relative;
		top:0;
		right:20px;
		width:35px;
		height:25px;
		cursor:pointer;
		z-index:99;
    }
    .burgur{
		right: 0;
		top: 50%;
        transform: translateY(-50%);
		position: absolute;
		width: 35px;
		height: 5px;
		background: #1C3059;
        border-radius: 4px;
	}
	.burgur .top-line{
		width: 35px;
		height: 5px;
		background-color: #1C3059;
		bottom: -10px;
		content: '';
		position: absolute;
		right: 0;
        border-radius: 4px;
		-webkit-transition:  -webkit-transform .3s;
		transition: transform .3s;
    }
	.burgur .bot-line {
		width: 35px;
		height: 5px;
		background-color: #1C3059;
		top: -10px;
		content: '';
		position: absolute;
		right: 0;
        border-radius: 4px;
		-webkit-transition:  -webkit-transform .3s;
		transition: transform .3s;
	}
	.burgur.on {
		width: 0;
	}
	.burgur.on .bot-line {
		-webkit-transform: translateY(10px) rotate(135deg);
		transform: translateY(10px) rotate(135deg);
        background-color: #fff;
	}
	.burgur.on .top-line{
		-webkit-transform: translateY(-10px) rotate(-135deg);
		transform: translateY(-10px) rotate(-135deg);
        background-color: #fff;
	}
    .slide{
        display: flex;
        padding-top:150px;
        width:70%;/*이 너비에 따라 보이는 부분이 변화함*/
        position:fixed;
        z-index: 98;
        right:-100%;
        top:-50px;
        bottom:0;
        -webkit-transition: right .3s;
        -moz-transition: right .3s;
        -ms-transition: right .3s;
        -o-transition: right .3s;
        transition: right .3s;
        background-color:#1C3059;
    }
    .slide.on{
        right:0;
    }
    .slide ul{
        width: 100%;
    }
    .slide ul li{
        width:100%;
    }
    .slide ul li a{
        display:block;
        font-size:18px;
        font-weight: 500;
        padding: 20px 30px 20px;
        position:relative;
        color: #fff;
    }
    .solid{
        width:100%;
        height:100%;
        background:#556991;
        opacity:0;
        transform:scaleX(0);
        transform-origin:left;
        transition-property:opacity, transform;
        transition-duration:0.5s;
        position:absolute;
        top:0;
        left:0;
        z-index:-1;
        visibility:hidden;
    }
    .slide ul li:hover .solid{
        transform:scaleX(1);
        opacity:1;
        visibility:visible;
    }


    /*main*/


    .word{
        left: 10%;
    }
    .word p{
        font-size: 16px;
        padding-bottom: 10px;
        letter-spacing: -1px;
    }
    .word h1{
        font-size: 30px;
        line-height: 40px;
        letter-spacing: -2px;
    }
    .main_next{
        left: 19%;
        width: 18px;
        height: 18px;
    }
    .main_prev{
        width: 18px;
        height: 18px;
        left: 9%;
    }
    #main .swiper-horizontal>.swiper-pagination-progressbar, #main .swiper-pagination-progressbar.swiper-pagination-horizontal{
        display: none;
    }


    /*brand*/


    .brand_text h2{
        font-size: 30px;
        font-weight: 700;
        line-height: 40px;
    }
    .brand_text h1{
        font-size: 40px;
        line-height: 55px;
        font-weight: 700;
        padding-bottom: 50px;
    }
    .brand_text p{
        font-size: 18px;
        line-height: 28px;
        font-weight: 500;
        padding-bottom: 50px;
    }
    

    /*coffee*/
    #coffee{
        top: 700px;
        height: 1800px;
    }


    /*wholesale*/


    #partner{
        padding-top: 500px;
    }
    .partner_in{
        width: 85%;
    }
    .partner_in>h1{
        font-size: 32px;
        line-height: 45px;
    }
    .wholesale{
        height: 750px;
        align-items: flex-end;
        justify-content: center;
    }
    .partner_img img{
        border-radius: 40px 0 40px 0;
        min-width: 380px;
    }
    .wholesale_text {
        padding-right: 0;
        margin: 0 auto;
        padding-bottom: 35px;
    }
    .wholesale_text table .big{
        font-size: 16px;
    }
    .wholesale_text table th{
        font-size: 16px;
    }
    .wholesale_text table td{
        font-size: 12px;
    }
    .wholesale_text a{
        font-size: 16px;
        padding: 12px 100px;
    }


    /*tab_menu*/


    #tab_menu{
        width: 95%;
        margin: 0 auto;
    }
    .slick-initialized .swipe-tab-content{
        min-width: 300px;
        margin-right: 20px;
    }
    .tab_menu_img{
        min-width: 300px;
    }
    .tab_menu_img img{
        min-width: 300px;
    }
    .menu_btn{
        display: none;
    }
    .swipe-tab-content h1{
        font-size: 35px;
        line-height: 50px;
    }
    .swipe-tab-content p{
        font-size: 16px;
        line-height: 26px;
    }


    /*healing*/


    .healing_in{
        width: 95%;
    }
    .healing_in h1{
        font-size: 25px;
        line-height: 35px;
    }
    .healing_in a{
        margin-top: 20px;
        padding: 10px 25px;
        font-size: 16px;
    }


    /*footer*/


    /*footer*/


    .footer_inner{
        flex-wrap: wrap;
        width: 100%;
        justify-content: center
    }
    .footer_inner .footer_box ul{
        padding-left: 20px;
    }
    .footer_inner>h1{
        padding-bottom: 100px;
    }
    .footer_inner .footer_box{
        width: 90%;
        justify-content: space-between;
    }
    .footer_typing, .footer_typing_{
        display: none;
    }
    #ticket{
        width: 100%;
    }
    .ticket_1 a, .ticket_2 a{
        padding: 20px;
    }
}



/*사이즈 420px*/
@media (max-width:419px){
    .word{
        width: 90%;
        top: 45%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
    .word p{
        font-size: 14px;
        padding-bottom: 10px;
        letter-spacing: 0;
    }
    .word h1{
        font-size:25px;
        line-height: 35px;
        letter-spacing: 0;
    }
    @keyframes typing_{
        0% {
        opacity: 0;
        filter: Alpha(opacity=0);
        margin-top: 15px;
        }
    100% {
        opacity: 1.0;
        filter: Alpha(opacity=100);
        margin-top: 0;
        }
    }
    #main .swiper-slide-active .word_{
        animation: typing_ 1.5s cubic-bezier(0.4, 0, 0.2, 1) both;
    }
    .main_next{
        left: 58.5%;
    }
    .main_prev{
        left: 41.5%;
    }
    #main .swiper-horizontal>.swiper-pagination-progressbar, #main .swiper-pagination-progressbar.swiper-pagination-horizontal{
        display: none;
    }


    /*brand*/


    .brand_text h2{
        font-size: 30px;
        font-weight: 700;
        line-height: 40px;
    }
    .brand_text h1{
        font-size: 30px;
        line-height: 45px;
        font-weight: 700;
        padding-bottom: 30px;
    }
    .brand_text p{
        font-size: 16px;
        line-height: 26px;
        font-weight: 500;
        padding-bottom: 50px;
    }
    

    /*coffee*/


    #coffee{
        height: 1000px;
        background-size: cover;
        top: 550px;
    }
    .coffee_in h1{
        padding-top: 100px;
        font-size: 25px;
        font-weight: 700;
        line-height: 40px;
        padding-bottom: 30px;
    }
    .coffee_in p{
        font-size: 16px;
        line-height: 28px;
        font-weight: 500;
    }


    /*wholesale*/


    #partner{
        background-size: cover;
        margin-top: 0;
        padding-top: 150px;
    }
    .partner_in{
        width: 90%;
    }
    .partner_in>h1{
        text-align: center;
        font-size: 30px;
        line-height: 45px;
    }
    .partner_img img{
        border-radius: 0 40px 0 40px;
        min-width: 300px;
        text-shadow: 0 0 5px rgba(0,0,0,0.3);
    }


    /*tab_menu*/


    #tab{
        margin-bottom: 100px;
    }
    #tab_menu{
        width: 95%;
        margin: 0 auto;
    }
    #tab_menu>h1{
        text-align: center;
        color: #fff;
        text-shadow: 0 0 5px rgba(0,0,0,0.3);
    }
    .slick-initialized .swipe-tab-content{
        min-width: 220px;
        margin-right: 10px;
    }
    .slick-initialized .swipe-tab{
        color: #1C3059;
    }
    .slick-initialized .swipe-tab:hover {
        color: #fff;
    }
    .slick-initialized .swipe-tab.active-tab {
        border-bottom-color: #fff;
        color: #fff;
        text-shadow: 0 0 5px rgba(0,0,0,0.2);
    }
    .swipe-tab-content h1{
        font-size: 30px;
        line-height: 45px;
    }
    .swipe-tab-content p{
        font-size: 14px;
        line-height: 24px;
    }
    .main-container {
        width: 100%;
        margin: 50px auto;
    }
    .tab_menu_img{
        min-width: 220px;
    }
    .tab_menu_img img{
        min-width: 220px;
    }
    

/*healing*/


#healing{
    margin-bottom: 300px;
}


/*footer*/


.footer_inner .footer_box ul li a{
    font-size: 16px;
}
}